/* src/pages/HomePage.css */

.homepage-container {
    display: flex;
    /* 设置Flexbox布局 */
}

.side-menu {
    flex: 0 0 250px;
    /* 设置边栏宽度，并不允许它随内容变化而变化 */
    background-color: #333;
    /* 举例深色背景 */
    color: #fff;
    /* 文字颜色 */
    /* 其他样式 */
}

/* 假设你想为包含菜单的整个块设置背景色 */
.menu-list {
    background-color: #333;
    /* 深色背景 */
}

.category-title {
    color: #fff;
    /* 类别标题颜色，如果你希望它有好的对比度 */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* 添加动画效果，持续时间为0.3秒并有ease效果 */
    cursor: pointer;
    /* 鼠标悬停时显示手形指针 */
}

.category-title:hover {
    background-color: #444;
    /* 悬停状态的背景色改变，与之前在 .subcategory-item 中定义的保持一致 */
    color: #ddd;
    /* 悬停状态的文字颜色改变，可以根据需要进行调整以提高对比度 */
}

/* 菜单子分类项的样式 */
.subcategory-item {
    list-style: none;
    /* 去除列表默认样式 */
    padding: 10px;
    /* 留出一些内边距 */
    color: #fff;
    /* 文字颜色 */
    cursor: pointer;
    /* 鼠标悬停时显示指针，表明可点击 */
}

.subcategory-item:hover {
    background-color: #444;
    /* 悬浮时的背景色变化 */
}





.content {
    flex: 1;
    background-color: #f0f0f0;
    /* 举例浅色背景 */
    padding: 20px;
    /* 或根据您的设计来设置适当的内边距 */
    /* 其他样式 */
}

/* 为电影列表和单个电影项设置Flexbox布局 */
.movies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* 设置两个电影之间的间隙，根据需要调整 */
    align-items: center;
    /* 确保电影项在垂直方向上的居中 */
    /* justify-content: center; */
    /* 在有多余空间时，保持水平居中 */
    justify-content: start;
    /* 确保多行排列时左对齐 */
}

.movie-item {
    flex: 0 1 calc(33.333% - 20px);
    /* 一行显示3个电影项，减去的20px是为了考虑间隙的空间 */
}

.movie-item h3 {
    font-size: 1rem;
    /* 根据需求调整标题大小 */
    margin: 0.5em 0 0.5em;
    /* 为标题和图片之间添加适当的间距 */
    color: #333;
    /* 根据背景颜色调整字体颜色以保证可读性 */
    text-align: center;
    /* 将标题居中对齐 */
}

@media (max-width: 768px) {
    .movie-item {
        flex: 1 0 100%;
        /* 小屏幕下每个电影项占满整行 */
    }
}

/* 调整电影图片的样式 */
.movie-item img {
    width: 100%;
    /* 图片占满整个电影项 */
    height: auto;
    /* 高度自适应 */
    display: block;
    /* 防止图片下方出现间隙 */
    margin-bottom: 1em;
    /* 为图片和标题之间添加一些间隔 */
}