/* src/pages/HomePage.css */

.homepage-container {
    display: flex;
    /* 设置Flexbox布局 */
}

.side-menu {
    flex: 0 0 250px;
    /* 设置边栏宽度，并不允许它随内容变化而变化 */
    background-color: #333;
    /* 举例深色背景 */
    color: #fff;
    /* 文字颜色 */
    /* 其他样式 */
}

/* 假设你想为包含菜单的整个块设置背景色 */
.menu-list {
    background-color: #333;
    /* 深色背景 */
}

.category-title {
    color: #fff;
    /* 类别标题颜色，如果你希望它有好的对比度 */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* 添加动画效果，持续时间为0.3秒并有ease效果 */
    cursor: pointer;
    /* 鼠标悬停时显示手形指针 */
}

.category-title:hover {
    background-color: #444;
    /* 悬停状态的背景色改变，与之前在 .subcategory-item 中定义的保持一致 */
    color: #ddd;
    /* 悬停状态的文字颜色改变，可以根据需要进行调整以提高对比度 */
}

/* 菜单子分类项的样式 */
.subcategory-item {
    list-style: none;
    /* 去除列表默认样式 */
    padding: 10px;
    /* 留出一些内边距 */
    color: #fff;
    /* 文字颜色 */
    cursor: pointer;
    /* 鼠标悬停时显示指针，表明可点击 */
}

.subcategory-item:hover {
    background-color: #444;
    /* 悬浮时的背景色变化 */
}





.content {
    flex: 1;
    background-color: #f0f0f0;
    /* 举例浅色背景 */
    padding: 20px;
    /* 或根据您的设计来设置适当的内边距 */
    /* 其他样式 */
}

/* 为电影列表和单个电影项设置Flexbox布局 */
.movies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* 设置两个电影之间的间隙，根据需要调整 */
    align-items: center;
    /* 确保电影项在垂直方向上的居中 */
    justify-content: center;
    /* 在有多余空间时，保持水平居中 */
}

.movie-item {
    flex: 1 0 calc(50% - 10px);
    /* 减去的10px是为了考虑间隙的空间 */
    /* 其他样式 */
    /* 确定图片不会太大或太小 */
}

/* 在小屏幕上单列显示的样式保持不变，因为它有效地将电影项叠加在一起，
允许每个项目的宽度自动调整以适应屏幕 */
@media (max-width: 768px) {
    .movie-item {
        flex: 1 0 100%;
    }
}

/* 调整电影图片的样式 */
.movie-item img {
    max-width: 100%;
    max-height: 300px;
    /* 或您想要的任何高度 */
    width: auto;
    /* 默认宽度自适应，保持图片原始宽高比 */
    height: auto;
    /* 默认高度自适应 */
    display: block;
    margin-left: auto;
    /* 配合margin-right使图片水平居中 */
    margin-right: auto;
    object-fit: cover;
    /* 确保图片覆盖容器，可能会裁剪图片以保持比例 */
}